.dashboard-container {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FFFFE0;
    }
    
    .dashboard-header {
       background-color: #FFFFE0;
       padding: 20px;
       box-shadow: 0 2px 5px rgba (0, 0, 0, 0.1);
       width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-bottom: 10px;
    }


    h1 { font-size: 24;
        color: #2c3e50;
        margin-bottom: 1.5rem;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #FFFFE0;
    }

    .main-content {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
    }
    .attendance-table {
      width: 100%;
      border-collapse: collapse;
    }

    .attendance-table th,
    .attendance-table td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
    }

    .attendance-table th {
        background-color: #f0f0f0;
    }
